{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }} {% endblock title %}

{% block main %}

    <aside>
        <nav>
            <h3> Contents </h3>
            <ul>
                {% set parent = page.ancestors | last %}
                {% set parent_section = get_section(path=parent) %}
                {% for page in parent_section.pages %}
                    <li> {{ page.title }} </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>

    <article>
        {{ page.content | safe }}
    </article>

{% endblock main %}
