{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }} {% endblock title %}

{% block main %}

    <input type="checkbox" id="aside-input" />
    <label for="aside-input" id="aside-button"><span></span></label>

    <aside>
        <nav>
            <h3> Contents </h3>
            <ul>
                {% set parent = page.ancestors | last %}
                {% set parent_section = get_section(path=parent) %}
                {% for page in parent_section.pages %}
                    <li><a href="{{ page.permalink }}">{{ page.title }} </a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside>

    <article>

        <h3 class="section-title"> {{ parent_section.title }} </h3>

        {{ page.content | safe }}

    </article>

{% endblock main %}
