{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }} {% endblock title %}

{% block main %}

    <input type="checkbox" id="aside-input" />
    <label for="aside-input" id="aside-button"><span></span></label>

	<aside>
		<h3> Contents </h3>
		<ul>
			{% for post in section.pages %}
				<li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</aside>

    <article>
        {{ section.content | safe }}
    </article>


{% endblock main %}
